@{
    ViewBag.Title = "UploadPage";
}

<link href="~/Content/Styles/upload-page.css" rel="stylesheet" type="text/css" />
<script src="~/Content/Scripts/upload-page.js" type="text/javascript"></script>

<div class="container-fluid ol-uploadbook mt-4">
    <h2 class="ol-uploadbook-title py-4 px-2 "> Upload a book </h2>
    <div class="ol-uploadbook-form">
        <div class="ol-uploadbook-form-browsefile mx-5 my-5">
            <a href="#" onclick="performClick('theFile');">
                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="240" fill="#dee2e6" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                    <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z" />
                </svg>
                <p class="text-center">Drag Files to Upload</p>
                <h3 class="px-4 py-4 text-center">Browse File</h3>
            </a>
            <input type="file" id="theFile" style="display:none;" />
        </div>
        <div class="ol-uploadbook-form-input px-3 mx-5 my-4 pt-2 fst-italic">
            <form action="/" method="post">
                <label for="bname">Book name:*</label>
                <input type="text" id="bname" name="bname">
                <p id="bname-validation-p"></p>
                <label for="author">Author:*</label>
                <input type="text" id="author" name="author">
                <p id="author-validation-p"></p>
                <label for="genre">Genre:*</label>
                <select class="genre" id="genre">
                    <option value="" disabled selected hidden>Choose a Genre...</option>
                    <option value="actionandadventure">Action and Adventure</option>
                    <option value="classics">Classics</option>
                    <option value="comic">Comic Book</option>
                    <option value="detectiveandmystery">Detective and Mystery</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="historical">Historical Fiction</option>
                    <option value="horror">Horror</option>
                    <option value="literaryfiction">Literary Fiction</option>
                    <option value="romanc">Romance</option>
                    <option value="scifi">Science Fiction (Sci-Fi)</option>
                    <option value="shortstory">Short Stories</option>
                    <option value="susponseandthrillers">Suspense and Thrillers</option>
                    <option value="womensfiction">Women's Fiction</option>
                    <option value="biography">Biographies</option>
                    <option value="autobiography">Autobiographies</option>
                    <option value="cookbook">Cookbooks</option>
                    <option value="essay">Essays</option>
                    <option value="history">History</option>
                    <option value="memoir">Memoir</option>
                    <option value="poetry">Poetry</option>
                    <option value="selfhelp">Self-Help</option>
                    <option value="crime">True Crime</option>
                </select>
                <p id="genre-validation-p"></p>
                <label for="language">Language:*</label>
                <select name="language" id="language">
                    <option value="" disabled selected hidden>Choose a Language...</option>
                    <option value="en">English</option>
                    <option value="ru">Russian</option>
                    <option value="arm">Armenian</option>
                    <option value="fr">French</option>
                </select>
                <p id="language-validation-p"></p>
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="3" cols="35">
                    </textarea>
            </form>
        </div>
    </div>
    <div class="ol-uploadbook-uploadbutton d-flex justify-content-end mx-5 mb-4 fst-italic">
        <a href="#" id="btn_link">Upload</a>
    </div>
</div>

